.header {
    display: flex;
    height: 70px;
    border: solid 1px;
}

.logo, .header__login {
    line-height: 70px;
}

.logo img {
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 400px;
    margin: 0 auto;
    background-color: lightcoral;
}

.logo {
    width: 70%;
    background-color: lightblue;
}

.header__login {
    display: flex;
    justify-content: center;
    width: 10%;
    background-color: lightgreen;
    cursor: pointer;
}