* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --wc: 85%;
}

.main {
    display: flex;
    height: 440px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    width: var(--wc);
}

table {
    /* height: 180px; */
    margin: 20px;
}

table div {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 3px;
}

.thereistasks {
    background-color: lightgreen;
}

table div:hover {
    background-color: cornflowerblue;
}

.tasks {
    width: calc( 100% - var(--wc));
}