* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(0,0,0,0.1);
}

:root {
    --wc: 78%;
    --bw: 1200px;
    --bh: 780px;
}

.container {
    background-color: #fff;
    height: var(--bh);
    width: var(--bw);
    margin: 0 auto;
}

.main {
    display: flex;
    // height: 600px;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
    width: var(--wc);
    table {
        /* height: 180px; */
        margin: 20px;
        div {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            margin: 3px;
            &:hover {
                background-color: cornflowerblue;
            }
        }
    }
}

.thereistasks {
    background-color: lightgreen;
}

.tasks {
    width: calc( 100% - var(--wc));
}

.select__year {
    height: 30px;
    margin: 10px 0 0 290px;
}