.task {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}

.task__form {
    width: 500px;
    padding: 0 100px;
    /* position: absolute; */
    /* margin: 0 auto; */
    /* top: calc(100vh - 600px); */
    /* left: calc(50vw - 250px); */
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

/* .task__form::after {
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
} */

form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

form .task__title, form label {
    line-height: 40px;
}

form button {
    width: 100px;
    height: 50px;
    margin: 20px auto;
}